
  <tr>
    <td>
      <%= image_tag items.product.image.tiny %>
    </td>
    <td>
      <h4><%= items.product.name %></h4>
      <br>
      <p><%= items.product.description %></p>
    </td>
    <td>
      <%= items.product.price %>
    </td>
    <td>
      <%= items.quantity %>
    </td>
    <td>
      <%= items.quantity * items.product.price %>
    </td>
  </tr>
